<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simpson Zombies</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link href="/zombie.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="couch"><img src="/img/couch.png" />
            </div>
            <p><h1 id="logo">The Simpson's </h1>    </p><p><h1 id="logo">Zombie</h1></p>
            <hr />
            <div id="status-area">
                <div class="left"><p>Timer: </p><p id="timer">30</p></div>
                <div class="right">Score:<p id="score"></p></div>
                <img src="/img/loser.png" />
            </div>
        </div>
        <div id="container">
                <canvas id="canvas1"></canvas>
                <div id="menu">
                    <button method="POST" id="start" onClick="startgame()"> Start Game
                    </button>
                    <button id="levelup" onClick="next()"> Next Level</button>
                </div>
            </div>

    </body>

<script id="nextLevel" src="/game.js"></script>
<script>

$(document).ready(function() {
 $('#start').click(function() {$(this).hide();});
 $('#levelup').click(function() {$(this).hide();});
 });

</script>

</html>
