<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simpson Zombies</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link href="/zombie.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <p><h1 id="logo"> The Simpson's</h1></p>
            <p><h1 id="after">The Simpson's </h1>    </p><p><h1 id="afterZ">Zombie</h1></p>
            <hr />
        </div>
        <div class="leftside">
        <p>Timer: </p><p id="timer">30</p>

        </div>
        <div class="rightside">
            <p>Score: </p><p id="score"></p>
        </div>
        <div id="status-area">
            <button id="levelup" onClick="next()"> Next Level</button>
        </div>
        <div id="container">
                <button id="start" onClick="startgame()"> Start Game
                </button>
                <canvas id="canvas1"></canvas>
            </div>

    </body>



<script id="nextLevel" src="/game.js"></script>
<script>

function hideLogo() {
    document.getElementById("logo").style.display = "none";
    // document.getElementById("#gamecanvas").hide();

}


$(document).ready(function() {
 $('#start').click(function() {$(this).hide();});

setTimeout("hideLogo()", 3000);
   $('#afterZ').delay(3000).fadeIn(1500);
   $('#after').delay(3000).fadeIn(1500);
});
</script>

</html>
