<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simpson Zombies</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link href="/zombie.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="couch"><img src="/img/couch.png" />
            </div>
            <p><h1 id="logo">The Simpson's </h1>    </p><p><h1 id="logo">Zombie</h1></p>
            <div class="nav">
                <a href="/highscores">High Scores</a><br />
                <a href="/">Login</a><br />
                <a href="/game">Play</a>
            </div>
            <hr />
        </div>
        <center>

            <div id="gameboard">
                <div class="scorestuff">
                    <div>
                        <div class='left'>Timer:
                            <p id="timer">30</p>
                        </div>
                        <div class='left'>
                        </div>
                        <p id="highscore"></p>
                        <div class="left">Score:
                            <p id="score"></p>
                        </div>
                    </div>

                </div>
                <div id="container">
                    <canvas id="canvas1"></canvas>
                    <div id="menu">
                        <div id="status-area">
                            <img id="loser" src="/img/loser.png" />
                        </div>
                        <button method="POST" id="start" onClick="startgame()"> Start Game
                        </button>
                        <button id="reset"> Try Again
                        </button>

                        <button id="levelup" onClick="next()"> Next Level</button>
                    </div>
                </div>
            </div>
        </center>


    </body>

<script id="nextLevel" src="/game.js"></script>
<script>

$(document).ready(function() {
 $('#start').click(function() {$(this).hide();});
 $('#levelup').click(function() {$(this).hide();});
 $('#reset').click(function() {
     window.location = "/reset";
});

 });

</script>

</html>
