@font-face {
    font-family: 'Akbar';
    src:url('font/akbar.ttf') format('truetype');
}

body {
    background-color: yellow;
    font-family: Akbar;
}
#after {
    display: none;
    text-decoration: line-through;
    color: red;
}
#afterZ {
    display: none;
    color: red;
    font-size: 44px;
}
.header {
    text-align: center;
    font-size: 22px;
    color: black;
}

.leftside {
    float: left;
}

.rightside {
    float: right;
}

#status-area {
    text-align: center;
    z-index: 1;
}

#canvas {
    text-align: center;
    z-index: -1;
    width: 895px;
    height: 605px;
}

#start {
    z-index: 1;
}

#levelup {
    display: none;
}
