@font-face {
    font-family: 'Akbar';
    src:url('font/akbar.ttf') format('truetype');
}

body {
    background-image: url(/img/clouds.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Akbar;
}
.family {
    top: 0px;
    left: 0px;
    float: left;
    position: absolute;
}
.family img {
    width: 300px;
    height: 200px;
}

#logo {
    color: black;
}

#after {
    visibility: hidden;
    text-decoration: line-through;
    color: red;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
#afterZ {
    visibility: hidden;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    color: red;
    font-size: 44px;
}
.header {
    text-align: center;
    font-size: 22px;
    color: black;
}

.leftside {
    float: left;
}

.rightside {
    float: right;
}

#status-area {
    text-align: center;
    z-index: 1;
}

#container {
    width: 900px;
    height: 710px;
    margin: 0 auto;
    position: relative;
    background-image: url('img/locations/background.png');
    /*opacity: .7;*/
}

canvas {
    position: absolute;
    top: 0;
    left: 0;

}

#canvas1 {
    text-align: center;
    z-index: 2;
    width: 895px;
    height: 605px;
}
#menu {
	position: relative;
	width: 250px;
	height: 200px;
	z-index: 4;
	top: 200px;
	left: 275px;
}

button {
    width: 200px;
    height: 50px;
    background-color: #0000ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    position: absolute;
    z-index: 5;
}

#start {
    left: 40%;
}

#login {
    left: 40%;
    top: 75px;
}

#levelup {
    left: 40%;
    top: 75px;
    display: none;
}
