@font-face {
    font-family: 'Akbar';
    src:url('font/akbar.ttf') format('truetype');
}

body {
    background-image: url(/img/clouds.png);
    background-repeat: no-repeat;
    opacity: .5%;
    background-size: cover;
    font-family: Akbar;
    margin: 0;
}

.family {
    top: 0px;
    left: 0px;
    float: left;
    position: absolute;
    display: none;
}

.family img {
    width: 300px;
    height: 200px;
}

.couch, .couch img{
    top: 9px;
    left: 35px;
    /*float: left;*/
    position: absolute;
}

#logo {
    color: #0e0303;
}

#after {
    display: none;
    text-decoration: line-through;
    color: #d10808;
    text-shadow:
    -1px -1px 0 #0e0303,
    1px -1px 0 #0e0303,
    -1px 1px 0 #0e0303,
    1px 1px 0 #0e0303;
}
#afterZ {
    display: none;
    text-shadow:
    -1px -1px 0 #0e0303,
    1px -1px 0 #0e0303,
    -1px 1px 0 #0e0303,
    1px 1px 0 #0e0303;
    color: #d10808;
    font-size: 44px;
}

.nav {
    top: -150px;
    float: right;
    position: relative;
}

.nav a{
    text-align: right;
    text-decoration: none;
    color: white;
}
.header {
    /*visibility: hidden;*/
    text-align: center;
    font-size: 22px;
    color: #0e0303;
}

.left {
    float: left;
    width: 30%;
    padding-top: 10px;
    padding-left: 15px;
    text-align: center;
}

.left p {
    padding-top: 5px;
}
.scorestuff {
    color: yellow;
    z-index: 5;
    position: relative;
    top: 0px;
    z-index: 1;
    height: 50px;
    background-color: black;
}
.scorestuff p {
    margin: 0px;
}
#loser {
    display: none;
}
#status-area {
    color: yellow;
    font-size: 30px;
    text-align: center;
    z-index: 1;
}
#gameboard {
    text-align: center;
    z-index: 1;
    width: 900px;
    height: 775px;
    background-color: black;
    border: 10px black solid;
}
#container  {
    width: 900px;
    height: 700px;
    margin: 0 auto;
    position: absolute;
    background-image: url('img/locations/background.png');
}

canvas {
    position: absolute;
    top: 0;
    left: 0;

}


#canvas1 {
    text-align: center;
    z-index: 2;
    width: 900px;
    height: 710px;
}
#menu {
	position: relative;
	width: 250px;
	height: 200px;
	z-index: 4;
	top: 200px;
	left: 275px;
}

button, .button {
    width: 200px;
    height: 50px;
    background-color: #0000ff;
    color: #eee1e1;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    /*position: absolute;*/
    z-index: 5;
}

.button {
    text-align: center;
}

#start {
    left: 50%;
}

#login {
    left: 50%;
    top: 75px;
}

#levelup {
    left: 40%;
    top: 75px;
    display: none;
}

#reset {
    left: 40%;
    top: 100px;
    display: none;
}

/* Home page */
.signin {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}
.scores {
    margin-top: 50px;
    font-size: 30px;
}
.second {
    padding-left: 100px;
}
.move {
    padding-top: 50px;
}
.table-head {
    text-decoration: underline;
    font-size: 35px;
    color: yellow;
}
