body {
    background-color: yellow;
    font-family: Akbar;
}
#after {
    display: none;
    text-decoration: line-through;
    color: red;
}
#afterZ {
    display: none;
    color: red;
    font-size: 44px;
}
.header {
    text-align: center;
    font-size: 22px;
    color: black;
}

.gamecanvas {
    text-align: center;
}


#zombie {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: green;
}
